<p>Dear {{name}},</p>

<p>You have an invitation to {{meetingTitle}}</p>

<p><strong>Details:</strong></p>
<ul>
    <li><strong>Date:</strong> {{date}}</li>
    <li><strong>Time:</strong> {{time}}</li>
    <li><strong>Location:</strong> {{location}}</li>
</ul>

<p>Please respond to this email to confirm your attendance.</p>
<p>Looking forward to your presence at the meeting.</p>

<p>Best regards,</p>
CLV VietNam

<p>
    <a href={{acceptUrl}} style="display: inline-block; padding: 10px 20px; margin: 5px; color: white; background-color: black; text-decoration: none;">Accept</a>
    <a href={{rejectUrl}} style="display: inline-block; padding: 10px 20px; margin: 5px; color: black; border: 2px solid black; text-decoration: none;">Reject</a>
</p>

<p>
    <a href="https://static.ybox.vn/2021/8/3/1629906923927-Thi%E1%BA%BFt%20k%E1%BA%BF%20kh%C3%B4ng%20t%C3%AAn%20(58).png">
        <img src="https://static.ybox.vn/2021/8/3/1629906923927-Thi%E1%BA%BFt%20k%E1%BA%BF%20kh%C3%B4ng%20t%C3%AAn%20(58).png"
        alt="Meeting Image" width="600">
    </a>
</p>